abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

:root {
  --tooling:#30333B;
  --header:#292A33; }

html {
  font: 500 14px/150% "Open Sans",sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfa; }

#promo--tooling {
  width: 100%;
  height: 44px;
  background-color: var(--tooling);
  position: relative;
  top: 0;
  left: 0; }

#app--header {
  width: 100%;
  height: 64px;
  background-color: var(--header);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

#app--showcase {
  width: 100%;
  height: 750px;
  background-color: var(--tooling);
  background-image: url(../images/showcase/promo-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.showcase-banner--model-1 {
  width: 600px;
  height: 400px;
  background: rgba(211, 3, 3, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 6px; }

.showcase--model-2 {
  width: 100%;
  height: 800px;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 40% 60%;
  grid-template-areas: "b a";
  grid-column-start: "b";
  background: #fbfef9;
  position: relative; }

.showcase--model-2:last-of-type {
  border-bottom: 1.2px solid #aaa; }

.showcase--model-2 .active {
  height: 70%;
  position: relative; }

.showcase--model-2 .model-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.zltr {
  grid-template-columns: 60% 40%;
  background-image: url(../images/showcase/showcase-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.banner-info--transparent {
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  position: relative;
  top: 0;
  font-family: 'Yanone Kaffeesatz',sans-serif;
  letter-spacing: 1px; }

.banner-info--transparent h4 {
  font-size: 13px;
  font-weight: lighter;
  color: #454545; }

.banner-info--transparent h4 a {
  color: #09f; }

.box-sections {
  width: 70%;
  height: auto;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Anton,sans-serif; }

.box-sections h1 {
  font-size: 3.6rem;
  letter-spacing: 1px;
  line-height: 1.2; }

.box-sections h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.2; }

.box-sections .btn-secuense {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 20px; }

.box-sections button {
  background: #fff;
  color: #343434;
  text-transform: uppercase;
  border: none;
  vertical-align: middle;
  height: 44px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer; }

footer {
  width: 100%;
  height: 800px;
  background-color: #fff; }

/*# sourceMappingURL=master.css.map */
